{
  "plugins": [
    "transform-object-rest-spread",
    "syntax-dynamic-import",
    "dynamic-import-node",
    "transform-export-extensions",
    "transform-es2015-modules-commonjs",
    "lodash"
  ]
}
