{
    "plugins": [
        "transform-object-rest-spread",
        "syntax-dynamic-import",
        "transform-export-extensions",
        "transform-es2015-modules-commonjs",
        "lodash"
    ]
}
