html {
    font: 1em "Calibri", "Helvetica", "Arial", sans-serif;
}

#results {
    margin: 1em auto 2em auto;
    width: 100%;
    text-align: center;
}

.selectGen {
    background-color: #FFF;
    padding: 0.5em 0;
    cursor: pointer;
    width: 100%;
    float: left;
    clear: left;
    text-align: center;
}

.selectedGen {
    background-color: #EEE;
}

#selectorPanel {
    width: 9.5em;
}

.clear {
    clear: both;
}

#calculator {
    float: left;
}

input[type="text"] {
    width: 2.5em;
    text-align: center;
}

#attackerHpBoost, #defenderHpBoost {
    visibility: hidden;
}

#attacker {
    border-right: 1px solid #888;
    margin-bottom: 1em;
    float: left;
}

#defender {
    border-left: 1px solid #888;
    margin-bottom: 1em;
    float: left;
}

.sprite1, .sprite2, .sprite3, .sprite4, .sprite5, .sprite6 {
    height: 142px; /* 138+4 */
    width: 124px; /* 120+4 */
    margin: 0 auto 0.2em auto;
    text-align: center;
    background-color: #FFF;
    /* border: 1px solid #AAA; */
    padding: 0.5em;
}

.sprite1, .sprite2 {
    width: 60px; /* 56+4 */
    height: 60px;
}

.sprite3 {
    width: 68px; /* 64+4 */
    height: 68px;
}

.sprite4 {
    width: 84px; /* 80+4 */
    height: 84px;
}

.sprite5 {
    width: 100px; /* 96+4 */
    height: 100px;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#attackerSprite, #defenderSprite {
    vertical-align: middle;
    min-height: 40px;
    max-width: 120px;
}

.textLabel {
    float: left;
    width: 5.5em;
}

.stat {
    width: 2em;
    text-align: center;
    float: right;
}

.largeSelect {
    width: 12em;
}

.pokeContainer {
    padding: 1em;
}

select, input {
    margin: 2px;
    padding: 0;
}

#exportText {
    width: 8.5em;
    display: block;
    font-size: 1em;
    margin: 0.4em 0 0 0.5em;
    padding: 2px 4px;
    float: left;
    clear: both;
}

label, .levelButton, #calc, #selectorPanel, .togglebox, #swap, #export {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

label {
    vertical-align: center;
}

#col1>label, #col2>label, #col3>label, .weather {
    display: block;
    clear: left;
    float: left;
}

.move {
    display: block;
    float: left;
}

#col1, #col2 {
    width: 33%;
    float: left;
}

#col3 {
    width: 34%;
    float: left;
}

.levelButton, #calc, .togglebox, #swap, #export {
    display: inline-block;
    text-align: center;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 3px;
    margin: 2px 2px;
    cursor: pointer;
}

.togglebox, #swap, #export {
    width: 8em;
}

.levelButton:hover, #calc:hover, .togglebox:hover, #swap:hover, #export:hover {
    border-color: #AAA;
}

.levelButton:active, #calc:active, .togglebox:active, #swap:active, #export:active {
    background-color: #EEE;
    border-color: #AAA;
}

.levelButton {
    width: 2.2em;
}

.togglebox, #swap, #export {
    padding: 0.2em 0.5em;
    margin: 0.4em 0 0 0.4em;
    float: left;
    clear: left;
}

#calc {
    margin: 1em auto 1em auto;
    float: none;
    clear: both;
    display: block;
    padding: 2px 0;
}

#beatUpStats, #beatUpLevels {
    width: 8em;
}

#minDamageBar {
    width: 0;
    background-color: #0A0;
    height: 100%;
    float: left;
}

#maxDamageBar {
    width: 0;
    background-color: #7C7;
    height: 100%;
    float: left;
}

#blankBar {
    background-color: white;
    float: left;
}

#hpDisplay {
    height: 1.3em;
    border: 1px solid #AAA;
    margin: 0 auto;
    clear: both;
}

#battleOptions {
    clear: both;
}

#beatUpLevel0, #beatUpLevel1, #beatUpLevel2, #beatUpLevel3, #beatUpLevel4, #beatUpLevel5,
#beatUpStat0, #beatUpStat1, #beatUpStat2, #beatUpStat3, #beatUpStat4, #beatUpStat5, #beatUpStatLabel, #beatUpLevelLabel {
    display: block;
    float: left;
    width: 4em;
}

#beatUpStat0, #beatUpStat1, #beatUpStat2, #beatUpStat3, #beatUpStat4, #beatUpStat5 {
    clear: left;
}

#beatUpStatLabel, #beatUpLevelLabel {
    text-align: center;
    margin: 2px;
}

#menu {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FFF;
}

.endSection {
    margin-bottom: 1em;
}
